:root {
  --first-color: hsla(220, 10%, 10%, 1);
  --second-color: #ff7;
  --font-color: #ffffff;
  --text-muted: hsla(0, 0%, 100%, 0.6);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: var(--font-color) !important;
  flex-wrap: wrap;
  background-color: var(--first-color) !important;
}

nav {
  color: white;
}

.nav--logo {
  margin-right: 16px;
}

.logo-label {
  color: white !important;
  padding: 8px 16px;
  border-radius: 16px;
  background: #1e2125;
}

.logo-triangle {
  position: relative;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  background: #1e2125;
}

.nav--frame {
  display: inline-flex;
  padding: 0px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #23262a;
  margin-right: 16px;
}

.nav--frame a {
  border-radius: 16px;
  transition: 0.3s;
}

.nav--frame a:hover {
  background: #1e2125;
}

.nav--frame-item {
  padding: 8px 16px;
}

button {
  border-style: none;
}

.bottom-buttons img {
  width: 50px;
  height: 50px;
}

.button-custom-dark {
  color: white !important;
  padding: 8px 24px;
  border-radius: 16px;
  background: #23262a;
}

.button-custom-light {
  color: var(--first-color);
  padding: 8px 24px;
  border-radius: 16px;
  background: var(--font-color);
  font-weight: 500;
  margin-right: 16px;
  transition: 0.3s;
}

.button-custom-light:hover {
  color: var(--font-color);
  background: var(--first-color);
}

.frame {
  padding: 24px 36px;
  border-radius: 32px;
  background: #23262a;
}

#my-picture {
  width: 100%;
  height: 100%;
  padding: 0px;
  object-fit: cover;
}

#hero-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#hero-text {
  width: 100%;
  height: 100%;
  object-fit: fill;
  background: url(images/hero-background.png);
  border: 1px;
  border: #ffffff5f;
  border-style: dotted;
}

.card--wrapper {
  text-align: center;
  margin-left: 0px !important;
  margin-right: 20px !important;
  flex-wrap: nowrap !important;
  gap: 20px !important;
}

.parent {
  margin: 20px !important;
  height: 600px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin: 0px !important;
  border-radius: 32px;
  padding: 0px !important;
  gap: 20px !important;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: all 1.1s;
}

.bg-one {
  background-image: url(images/recipes-psp-highres.webp);
}

.bg-two {
  background-image: url(images/RTA-highres.webp);
}

.bg-three {
  background-image: url(images/Aquarius-highres.webp);
}

.bg-four {
  background-image: url(images/BeautyCalc-highres.webp);
}

.bg-five {
  background-image: url(images/mZUT-highres.webp);
}

.bg-six {
  background-image: url(images/MeetOver-highres.webp);
}

.parent:hover .child {
  transform: scale(1.05);
}

.project-preview {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 598px;
}

.bottom-buttons {
  position: absolute;
  display: flex;
  bottom: 24px;
}

.footer--socials {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 14px;
}

.button-container {
  display: inline-block; /* Keep buttons on the same line */
}

/* Base button styles */
.button-container button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.image-container {
  margin-right: 12px;
}

.image-container img:last-child {
  display: none;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: opacity;
}

/* Show the second image when hovering over the anchor tag */
.image-container:hover img:first-child {
  display: none;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: opacity;
}

.image-container:hover img:last-child {
  display: inline-block;
}

a {
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity)) !important;
}

a:link {
  text-decoration: none !important;
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity)) !important;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.5px;
  line-height: 157.5% !important;
  color: var(--text-muted) !important;
}

h6 {
  font-family: "VVE-Giallo-Medium", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #1a3263 !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .open-to-work {
    display: none;
  }
}
